.background {
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Text styles */
  overflow-y: auto;
  position: relative;
  top: 170px;
}

.ellipseFloat {
  float: left;
  top: -150px;
  left: -150px;
  width: fit-content;
  position: relative;
  z-index: 1; /*change your number as per elements lies on your page.*/
}

.ellipseFloat2 {
  float: right;
  top: -600px;
  right: -20px;
  width: fit-content;
  position: relative;
  z-index: 1; /*change your number as per elements lies on your page.*/
}
.icons {
  text-align: center;
  margin-top: 300px;
}

.content {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}

.background h1 {
  font-size: 5em;
  color: black;
  padding: 10px;
  /* Margins */
  margin-bottom: 10px;
}

.background h2 {
  font-size: 2em;
  color: black;
  /* Margins */
  margin-top: 0;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 0.5em;
}

/*for mobile phones*/

@media only screen and (max-width: 1200px) {
  img#heroPicture {
    width: 300px;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .ellipseFloat {
    display: none;
  }

  .ellipseFloat2 {
    display: none; /*change your number as per elements lies on your page.*/
  }

  img#heroPicture {
    display: none;
  }

  .icons {
    text-align: center;
    margin-top: 10px;
  }

  .background {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
    top: 100px;
  }

  .bluebutton {
    margin: "12px";
    background: #2255ff;
    font-size: "16px";
    color: "white";
    font-family: Fira Sans;
    border-radius: 40;
    width: 90%;
  }

  .background h1 {
    font-size: 3.3em;
    color: black;
    /* Margins */
  }

  .background h2 {
    font-size: 1.2em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    padding-left:10px;
  padding-right: 10px;
  }

  .background h6 {
    font-size: 0.8em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}
