@media only screen and (max-width: 1200px) {
    img#heroPicture {
      width: 300px;
      margin: auto;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .ellipseFloat {
      display: none;
    }
  
    .ellipseFloat2 {
      display: none; /*change your number as per elements lies on your page.*/
    }
  
    img#heroPicture {
      display: none;
    }
  
    .icons {
      text-align: center;
      margin-top: 10px;
    }
  
    .backgroundB {
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      text-align: left;
      top: 70px;
    }
  
    .bluebutton {
      margin: "12px";
      background: #2255ff;
      font-size: "16px";
      color: "white";
      font-family: Fira Sans;
      border-radius: 40;
      width: 90%;
    }
  
    .background h1 {
      font-size: 3.3em;
      color: black;
      /* Margins */
    }
  
    .background h2 {
      font-size: 1.2em;
      /* Margins */
      margin-top: 0;
      margin-bottom: 0.5em;
      padding-left:10px;
    padding-right: 10px;
    }
  
    .background h6 {
      font-size: 0.8em;
      /* Margins */
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }
  